// main.scss

// Import variables and other partials
@import 'https://cdn.jsdelivr.net/npm/normalize.css/normalize.css';
@import 'https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css';
@import 'variables';

// Base styles
body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  color: $secondary-color;
  background-color: #fff;
}

// Headings styles
h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font-family;
}

// Responsive design
@media (max-width: $breakpoint-mobile) {
  body {
    font-size: 14px;
  }
}

@media (min-width: $breakpoint-desktop) {
  body {
    font-size: 18px;
  }
}

// Other global styles...
